[Desktop Entry]
Type=Application
Name=Logout
GenericName=Logout
Comment=Logout from the current session
Exec=stopvnc.py
Icon=system-log-out
Categories=System;X-Leave;X-LXQt;XVNC;

Comment[ar]=اخرج من الجلسة الحاليّة
Name[ar]=اخرج
GenericName[ar]=اخرج
Name[ca]=Tanca la sessió
GenericName[ca]=Tanca la sessió
Comment[ca]=Tancament de la sessió actual
Name[da]=Log ud
Comment[da]=Log ud fra den aktuelle session
Comment[de]=Sitzung beenden
Name[de]=Abmelden
Name[el]=Αποσύνδεση
GenericName[el]=Αποσύνδεση
Comment[el]=Αποσύνδεση από την τρέχουσα συνεδρία
Name[fr]=Déconnecter
GenericName[fr]=Déconnecter
Comment[fr]=Déconnecter de cette session
Comment[hu]=LXQt munkamenet vége
Name[hu]=Kilépés
Name[it]=Chiudi sessione
Comment[it]=Chiudere la sessione attuale
Name[ja]=ログアウト
Comment[ja]=セッションからログアウトします
Name[pl]=Wyloguj
Comment[pl]=Zakończ bieżącą sesję
Name[pt]=Sair
Comment[pt]=Sair da sessão
Name[ru]=Выйти из системы
Comment[ru]=Выйти из текущего сеанса
X-Desktop-File-Install-Version=0.22
OnlyShowIn=X-LXQt;
